.article-card {
  border: solid 3px black;
  width: 65vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin:5vh;
}

.article-image {
  height: 30vh;
  width: 30vh;
  max-width: 100%;
}

.article-header {
  display: flex;
  justify-content: space-between;
  margin: 1.5vh;
}

.article-title {
  word-wrap: break-word;
}

.article-image {
  margin: 1.5vh;;
}

.info-button {
  border: none;
  border-radius: 5px;
  height: 5vh;
  width: 25vh;
  margin-bottom: 1.5vh;
}

.info-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.article-section {
  font-weight: bolder;
  color: darkblue;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}