.article-card {
  /* border: solid 1px black; */
  width: 65vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin:5vh;
  color: white;
  background-color: black;
}

.article-image {
  height: 30vh;
  width: 30vh;
  max-width: 100%;
}

.article-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-title {
  word-wrap: break-word;
  margin: 2vh;
}

.article-image {
  margin: 1.5vh;;
}

.info-button {
  border: none;
  border-radius: 5px;
  height: 5vh;
  width: 25vh;
  margin-bottom: 2vh;
  background-color: white;
  margin-top: 2vh;
}

.info-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: red;
  color: white;
}
.article-section {
  font-weight: bolder;
  color: red;
  margin: 0;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}