nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.title {
  font-size: 8vh;
}

.drop-down {
  width: 25vh;
  margin-top: 9vh;
  margin-right: 2vh;
  color: black;
}



/* @media screen and (max-width: 620px) {
  nav {
    display: flex;
    flex-direction: column;
  }
} */